@media(max-width: 1250px){
    .center-column-header__title{
        float: none;
        display: block;
        margin-bottom: 15px;
    }

    .center-column-header__button{
        float: none;
        display: block;
        margin: auto;
    }
}
@media(max-width: 1020px){
    .center-column-header__title{
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
    }
}