@font-face {
    font-family: ProximaRegular;
    src: url(../fonts/proximanova-regular.otf);
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font: 14px ProximaRegular, 'san-serif';
    color: #1c2534;
    background: #fff;
}
.clear-fix:after{
    content: '';
    display: block;
    clear: both;
}
/*Common class for all buttons*/
.btn{
    height: 30px;
    padding: 0 20px;
    background: #87b448;
    font-size: 1rem;
    line-height: 30px;
    color: #ffffff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.btn:active{
    background: #71973c;
}
.main-container{
    max-width: 1440px;
    min-width: 970px;
    margin: auto;
    background: #fff;
}


/********************
    Header styles
*********************/
header{
    height: 70px;
    padding: 0 16.1% 0 14.6%;
    background: #87b448;
    border-bottom: 2px solid #71973c;
    line-height: 70px;
}
/*Logo*/
.logo{
    float: left;
    line-height: 58px;
}
.logo img{ vertical-align: middle;}
/*Search*/
.search{
    float: left;
    position: relative;
    margin: 0 30px 0;
}
.search:before{
    display: inline-block;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 26px;
    left: 10px;
    background: url("../images/icons/search.svg");
}
.search__field{
    width: 100%;
    height: 35px;
    display: inline-block;
    padding: 8px 35px;
    background: #73993d;
    color: #fff;
    font-size: 1.07rem;
    border: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.search__field::-webkit-input-placeholder {color: #fff;;}
.search__field::-moz-placeholder          {color: #fff;}
.search__field:-moz-placeholder           {color: #fff;}
.search__field:-ms-input-placeholder      {color: #fff;}

/*User activity*/
.user-activity{
    float: left;
}
.user-activity__element{
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;

}
.user-activity__element:not(:last-child){
    margin-right: 15px;
}
.user-activity__chat{
    background: url("../images/icons/chat.svg") 50% no-repeat;
}
.user-activity__notifications{
    background: url("../images/icons/notifications.svg") 50% no-repeat;
}

/*User account*/
.user-account{
    float: right;
    margin-left: 25px;
    text-decoration: none;
    font-size: 1.14rem;
}
.user-account__photo{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
}
.user-account__name{
    display: inline-block;
    color: #fefefe;
    vertical-align: middle;
}

/***************************
       Columns styles
****************************/
.columns-wrapper{
    padding: 0 16.1% 0 14.6%;
}
/*Common style to left and right columns*/
.side-column{
    width: 210px;
    height: 500px;
}
/*Individual columns styles*/
.left-column{
    float: left;
}
.right-column{
    float: right;
    /*background-color: green;*/
}
.center-column{
    /*background-color: yellow;*/
    margin: 0 225px 70px;
}

/***************************
         Left Column
****************************/
/*Navigation menu*/
.navigation{
    list-style-type: none;
}
.navigation__item{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e0e2e6;
}
.navigation__link{
    display: block;
    text-decoration: none;
    color: #59606b;
    font-size: 1.14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navigation__link:before{
    display: inline-block;
    content: '';
    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-left: 2px;
    vertical-align: middle;
}
.navigation__link_feed:before{  background: url("../images/icons/feed.svg") 50% 50% no-repeat;  }
.navigation__link_ask:before{  background: url("../images/icons/ask.svg") 50% 50% no-repeat;  }
.navigation__link_companies:before{  background: url("../images/icons/companies.svg") 50% 50% no-repeat;  }
.navigation__link_service:before{  background: url("../images/icons/services.svg") 50% 50% no-repeat;  }

/*Advertisement*/
/*common classes to ads*/
.adv{
    margin-top: 17px;
}
.adv__title{
    color: #7c8695;
    margin-bottom: 15px;
}
.adv img{
    width: 210px;
    height: 300px;
}
.adv__by{
    margin-top: 3px;
    font-size: 0.79rem;
    color: #d3d3d3;
}

/*Featured companies*/
.featured-companies{
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #e0e2e6;
    border-bottom: 1px solid #e0e2e6;
}
.featured-companies__header{ margin-bottom: 15px}
.featured-companies__title{
    color: #7c8695;
    float: left;
}
.featured-companies__see-all{
    color: inherit;
    text-decoration: none;
    margin-right: 0;
    float: right;
}
.featured-companies__list{
    list-style-type: none;
}
.featured-companies__item:not(:last-child){
    margin-bottom: 20px;
}
.featured-companies__link{
    text-decoration: none;
    color: inherit;
}
.featured-companies__img{
    display: inline-block;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.featured-companies__description{
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    vertical-align: top;
}
.featured-companies__name{
    font-size: 1.14rem;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.featured-companies__branch,
.featured-companies__location{
    color: #7c8695;
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.featured-companies__follow{
    display: inline-block;
    font-size: 0.86rem;
}
/*Copyright*/
.copyright-info{
    font-size: 0.86rem;
    color: #b7bfcd;

}
.copyright-info__copy{
    margin: 15px 0;
}
.copyright-info__terms,
.copyright-info__privacy{
    display: inline-block;
}
.copyright-info__terms{ margin-right: 20px;}

/***********************
      Center column
************************/
/*Center column header*/
.center-column-header{
    margin: 15px 0 20px;
    overflow: hidden;
}
.center-column-header__title{
    float: left;
    width: 250px;
    font-size: 2.14rem;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.center-column-header__button{  float: right;  }

/*Category list*/
.category-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    padding: 15px;
    border: 1px solid #e0e2e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: justify;
}
.category-list__item{
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 15px;
    width: 150px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.category-list__link{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.category-list__img-wrapper{
    width: 135px;
    height: 135px;
    line-height: 135px;
    border: 1px solid #e0e2e6;
    background: #fff;
    transition: .5s all;
}
.category-list__link:hover .category-list__img-wrapper{
    background: #f4f7fb;
}
.category-list__img{
    display: inline-block;
    vertical-align: middle;
}
.category-list__title{
    display: inline-block;
    line-height: 1.3rem;
    margin-top: 15px;
    transition: .5s all;
}
.category-list__link:hover .category-list__title{
    color: #71973c;
}

/*************************
        Right column
**************************/
/*Featured people*/
.featured-people{
    margin-top: 5px;
}
.featured-people__header{ margin-bottom: 15px}
.featured-people__title{
    color: #7c8695;
    float: left;
}
.featured-people__see-all{
    color: inherit;
    text-decoration: none;
    margin-right: 0;
    float: right;
}
.featured-people__list{
    list-style-type: none;
}
.featured-people__item:not(:last-child){
    margin-bottom: 15px;
}
.featured-people__link{
    text-decoration: none;
    color: inherit;
    display: block;
}
.featured-people__name{
    font-size: 1.14rem;
    display: block;
    margin-bottom: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.featured-people__img{
    display: inline-block;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.featured-people__description{
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    vertical-align: top;
}

.featured-people__position,
.featured-people__location{
    color: #7c8695;
    display: inline-block;
    line-height: 1.25rem;
    margin-bottom: 5px;
}
.featured-people__add{
    display: inline-block;
    font-size: 0.86rem;
    text-decoration: none;
}
/*Featured products*/
.featured-products{
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #e0e2e6;
    border-bottom: 1px solid #e0e2e6;
}
.featured-products__header{ margin-bottom: 15px}
.featured-products__title{
    color: #7c8695;
    float: left;
}
.featured-products__see-all{
    color: inherit;
    text-decoration: none;
    margin-right: 0;
    float: right;
}
.featured-products__list{
    list-style-type: none;
}
.featured-products__item:not(:last-child){
    margin-bottom: 15px;
}
.featured-products__link{
    text-decoration: none;
    color: inherit;
    display: block;
}
.featured-products__name{
    font-size: 1.14rem;
    display: block;
    margin-bottom: 7px;
}
.featured-products__img{
    display: inline-block;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.featured-products__description{
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    vertical-align: top;
    color: #7c8695;
    line-height: 1.2rem;
}
/*Adv*/
.adv-right-column img{
    border: 1px solid #ddd;
}

